<% if @current_encounter!= nil %>
  <div>
    <img src="<%= @sprite_url %>" alt="pokeball_sprite">
  </div>
  <p><%= @name.capitalize %> was caught! Would you like to add <%= @name %> to the party?</p>
  <form action="/add_party" method="post">
    <button>Yes</button>
  </form>
  <form action="/release">
    <button>No</button>
  </form>
<% end %>
