<p>You failed to catch the <%= @name%>. <%= @name.capitalize %> fled!</p>

<form action="/exploring">
  <button>Continue exploring</button>
</form>
<form action="/party_and_items">
  <button>Check Party and Items</button>
</form>
<form action="/run" method="post">
  <button>Return to home</button>
</form>
