<div class="split_screen">
  <h1>PokeLucky</h1>
</div>
<div class="split_screen">
  <form action="/exploring" class="button_forms">
    <button>Explore</button>
  </form>
  <form action="/party_and_items" class="button_forms">
    <button>Check Party and Items</button>
  </form>
  <form action="/reset_cookies" method="post" class="button_forms">
    <button>Reset progress</button>
  </form>
</div>
