<h1>PokeLucky</h1>
<form action="/exploring">
  <button>Explore</button>
</form>
<form action="/party_and_items">
  <button>Check Party and Items</button>
</form>
<form action="/reset_cookies" method="post">
  <button>Reset</button>
</form>

