<!-- For pokemon display -->
<div class="split_screen">
  <img src="<%= @sprite_url %>" alt="pokemon_sprite">
  <p>You have found a(n) <%= @name %>. Would you like to capture it?</p>
  <p>Pokeballs: <%= @pokeball_count%></p>
</div>
<div class="split_screen">
  <% if @pokeball_count > 0%>
    <form action="/catch" method="post" class="button_forms">
      <button>Catch</button>
    </form>
  <% end %>
  <form action="/exploring" class="button_forms">
    <button>Continue exploring</button>
  </form>
  <form action="/run" method="post" class="button_forms">
    <button>Run</button>
  </form>
</div>
