<!-- For pokemon display -->
<div>
  <img src="<%= @sprite_url %>" alt="pokemon_sprite">
</div>

<p>You have found a(n) <%= @name %>. Would you like to capture it?</p>
<p>Pokeballs: <%= @pokeball_count%></p>
<% if @pokeball_count > 0%>
  <form action="/catch" method="post">
    <button>Catch</button>
  </form>
<% end %>
<form action="/exploring">
  <button>Continue exploring</button>
</form>
<form action="/run" method="post">
  <button>Run</button>
</form>
