<!-- For pokeball display -->
<div class="pokeball split_screen">
  <img src="<%= @sprite_url %>" alt="pokeball_sprite">
  <p>You have found a pokeball. You currently hold <%= @pokeball_count%> in your possession.</p>
</div>
<div class="split_screen">
  <form action="/exploring" class="button_forms">
    <button>Explore further</button>
  </form>
  <form action="/party_and_items" class="button_forms">
    <button>Check Party and Items</button>
  </form>
  <form action="/run" method="post" class="button_forms">
    <button>Return to home</button>
  </form>
</div>
