<% if @current_encounter!= nil %>
  <p>To add <%= @name %> to the party, you must release one of your six party members. Would you like to release a pokemon?</p>
  <form action="/replace_continued" method="post">
    <button>Yes</button>
  </form>
  <form action="/captured">
    <button>No</button>
  </form>
<% end %>
